._bg-blue-200 {
  background: #33294E;
}
._border-blue-100 {
  outline: solid #433D60 0.5rem
}
._border-green-200{
  outline: solid #1C4D38 0.5rem;
}
._bg-gradient-green {
  background: linear-gradient(to bottom, #317F5D, #000000);
}